name: API Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Newman
        run: npm install -g newman

      - name: Run Postman Tests
        run: |
          newman run tests/postman/collection.json
